* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: rgba(49, 118, 255, 0.777);
  --clr-secondary: rgb(135, 190, 234);
  --clr-accent: rgb(54, 162, 54);
  --clr-light: white;
  --clr-dark: black;
  --clr-clear: rgba(1,1,1,0);
}


section {
  display: flex;
  margin-top: 20px;
  height: 100vh;
}

.img-container {
  background-image: url(../images/island-banner.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


#contact-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 50%;
}

#contact-container h1 {
  font-size: clamp(25px, 3.5vw, 50px);
  color: var(--clr-dark);
  letter-spacing: .05em;
  font-family: 'Roboto', sans-serif;
}

#contact-container p {
  font-size: clamp(10px, 1.5vw, 19px);
  color: var(--clr-dark);
  letter-spacing: .05em;
  font-family: 'Roboto', sans-serif;
}

#contact-container label {
  font-size: clamp(10px, 1.5vw, 19px);
  color: var(--clr-dark);
  letter-spacing: .05em;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 1px 15px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--clr-accent);
  height: 1.75em;
  font-size: clamp(10px, 1.75vw, 20px);
}

@media only screen and (max-width: 976px) {
  section {
    display: block;
  }

  #contact-container {
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(1,1,1,0.5), rgba(1,1,1,0.5)), url('../images/island-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    justify-content: center;
  }

  #contact-container h1 {
    color: var(--clr-light);
  }
  
  #contact-container p {
    color: var(--clr-light);
  }

  #contact-container label {
    color: var(--clr-light);
  }
}
